<div class="page-header">
<h1 class="page-title">Registrations - <span class="post-title"><%= link_to @course.title, edit_course_path(@course.id) %></span></h1>
</div>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Price</th>
    <th>Registration Date</th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.user.username %></td>
    <td>$<%= registration.price %></td>
    <td><%= registration.created_at.to_date.to_s(:long) %></td>
  </tr>
<% end %>
</table>
